@import 'utils/variables';

.container {
  @include flex-x-y-d(flex-start, center, column);

  .profileWrapper {
    height: fit-content;
    margin-top: 1rem;
    padding: 1rem;
    @include flex-x-y-d(space-around, space-around, column);
    width: 100%;

    @include sm {
      padding: 0;
    }

    @include xsm {
      padding: 1.5rem;
    }

    .top {
      @include flex-x-y-d(space-around, center, row);
      width: 100%;

      @include xsm {
        @include flex-x-y-d(space-around, center, column);
      }

      .left {
        @include flex-x-y-d(space-around, center, column);
        width: 45%;
        background-color: $middleGreen;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.616);
        padding: 2rem;
        height: 100%;
        border-radius: 2rem;

        @include xsm {
          width: 100%;
          margin-bottom: 4rem;
        }

        .formWrapper {
          @include flex-x-y-d(space-around, center, column);
          width: 100%;
          min-height: 50rem;

          .imgWrapper {
            border-radius: 100rem;
            z-index: 10;
            width: 26rem;
            height: 26rem;
            // background-color: white;
            @include flex-x-y-d(center, center, column);
            overflow: hidden;
            margin: 1rem 0;

            @include sm {
              width: 21.5rem;
              height: 21.5rem;
            }

            .profileImg {
              width: 35rem;
              height: auto;

              @include sm {
                width: 24rem;
              }
            }
          }

          .btnLeft {
            @include flex-x-y-d(space-evenly, center, row);
            width: 100%;
            margin: 3rem 0;

            @include sm {
              @include flex-x-y-d(space-evenly, center, column);
            }

            .spin {
              margin-bottom: 6rem;

              @include sm {
                margin-right: 6rem;
              }
            }

            .textbox {
              margin-bottom: 1rem;
              position: relative;
              width: fit-content;
              place-self: center;

              label {
                text-transform: uppercase;
                text-decoration: none;
                padding: 1rem 4rem;
                display: inline-block;
                border-radius: 10rem;
                transition: all 0.2s;
                font-size: 2rem;
                cursor: pointer;
                font-weight: bold;
                border: 0;

                &:hover {
                  transform: translateY(-0.3rem);
                  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
                }

                &:active {
                  transform: translateY(-0.1rem);
                  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
                }

                &::after {
                  content: '';
                  display: inline-block;
                  height: 100%;
                  width: 100%;
                  border-radius: 10rem;
                  position: absolute;
                  top: 0;
                  left: 0;
                  z-index: -10;
                  transition: all 0.4s;
                }

                &:hover::after {
                  transform: scaleX(1.4) scaleY(1.6);
                  opacity: 0;
                }
              }
            }

            .btnWhite {
              background-color: white;
              color: #777;

              input {
                display: none;
              }

              &::after {
                background-color: white;
              }
            }

            @keyframes moveInBottom {
              0% {
                opacity: 0;
                transform: translateY(3rem);
              }

              100% {
                opacity: 1;
                transform: translateY(0px);
              }
            }
          }
        }
      }

      .contentWrapper {
        border-radius: 2rem;
        height: 100%;
        min-height: 55rem;
        width: 45%;
        @include flex-x-y-d(center, center, column);
        padding: 2rem;
        background-color: $middleGreen;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.616);

        @include xsm {
          width: 100%;
        }

        form {
          @include flex-x-y-d(center, center, column);
          height: 97%;
          width: 100%;
          //position: relative;

          .btn {
            @include flex-x-y-d(center, center, column);
            width: 50%;

            @include xsm {
              //width: 100%;
            }

            .btnUpdate {
              margin-right: 5rem;
            }
          }

          .form {
            position: relative;
            width: 30rem;
            height: 8rem;
          }
        }
      }
    }

    .bottom {
      width: 100%;
      @include flex-x-y-d(space-around, center, row);
      margin-top: 5rem;

      .favList {
        //@include flex-x-y-d(space-evenly, center, column);
        width: 45%;
        background-color: $middleGreen;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.616);
        padding: 2rem 1rem;
        max-height: 60vh;
        border-radius: 2rem;
        overflow-y: auto;

        @include sm {
          width: 80%;
        }

        @include xsm {
          width: 100%;
          padding: 2rem 0;
        }

        .header {
          width: 100%;
          @include flex-x-y-d(space-evenly, center, column);

          h1 {
            font-size: 2.8rem;
            color: white;
            text-decoration: underline;
            font-weight: bold;
          }

          .list {
            width: 80%;
            background-color: white;
            border-radius: 50rem;
            height: fit-content;
            color: $darkGreen;
            font-size: 2rem;
            padding: 1rem;
            text-align: center;
            margin: 1.5rem;

            @include xsm {
              width: 90%;
            }
          }

          .noList {
            font-size: 2rem;
            color: white;
          }
        }
      }

      .admin {
        width: 80%;
        @include flex-x-y-d(flex-start, center, column);
        background-color: $middleGreen;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.616);
        border-radius: 2rem;

        @include sm {
          width: 95%;
        }

        h1 {
          font-size: 2.8rem;
          color: white;
          text-decoration: underline;
          font-weight: bold;
          margin-top: 3rem;

          @include sm {
            font-size: 2.6rem;
          }
        }

        .btnDiv {
          @include flex-x-y-d(space-around, center, row);
          width: 80%;
          height: 15vh;

          @include sm {
            width: 95%;
          }

          @include xsm {
            @include flex-x-y-d(space-around, center, column);
            height: 45vh;
          }

          .btnWrapper {
            display: inline-block;
            cursor: pointer;

            .learnMoreBtn {
              @include learnMoreBtn;
            }
          }
        }
      }
    }
  }
}
