@import 'utils/variables';

.profileWrapper {
  height: 65vh;

  .contentWrapper {
    height: 100%;
    width: 100%;
    @include flex-x-y-d(center, center, column);
    z-index: 15;

    .form {
      position: relative;
      width: 30rem;
      height: 8rem;
    }
  }
}
