@import 'utils/variables';

.bookWrapper {
  @include flex-x-y-d(center, center, column);
  width: 26rem;
  height: 35rem;
  margin: 3rem;
  border: 1px dashed black;
  background-color: rgb(218, 218, 218);
  //padding: 0 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.616);
  margin-top: 5rem;

  .cover {
    width: 20rem;
    height: 26rem;
    @include flex-x-y-d(center, center, column);
    cursor: pointer;

    .img {
      width: auto;
      max-height: 30rem;
      transition: transform 0.5s;
      object-fit: scale-down;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .title {
    font-size: 1.7rem;
    text-align: center;
    transition: font-weight 0.5s;

    &:hover {
      font-weight: bold;
    }
  }

  .icon {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: transform 0.5s;
    margin-top: 1rem;

    &:hover {
      transform: scale(1.3);
    }
  }
}
