@import 'utils/variables';

.bookWrapper {
  @include flex-x-y-d(center, center, column);
  width: 27rem;
  height: 40rem;
  margin: 3rem;
  border: 1px dashed black;
  cursor: pointer;
  background-color: rgb(218, 218, 218);
  padding: 0 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.616);

  .img {
    width: 27rem;
    height: auto;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .title {
    font-size: 1.7rem;
    text-align: center;
    transition: font-weight 0.5s;

    &:hover {
      font-weight: bold;
    }
  }
}
