@import 'utils/variables';

.bookWrapper {
  @include flex-x-y-d(center, center, column);
  width: 29rem;
  height: 41rem;
  margin: 3rem;
  border: 1px dashed black;
  background-color: rgb(218, 218, 218);
  padding: 0 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.616);
  margin-top: 10rem;

  .cover {
    width: fit-content;
    height: fit-content;
    @include flex-x-y-d(center, center, column);
    cursor: pointer;

    .img {
      width: 27rem;
      height: auto;
      transition: transform 0.5s;
      margin: -3rem 0;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .title {
    font-size: 1.7rem;
    text-align: center;
    transition: font-weight 0.5s;

    &:hover {
      font-weight: bold;
    }
  }

  .icon {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.3);
    }
  }
}
