@import "utils/variables";

.headerWrapper {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #142935de, #54c5bac2),
    url("/header.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  .headerH1Wrapper {
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    backface-visibility: hidden; //this fix the letter shake in the end of the animation

    .allLib {
      display: block;
      font-size: 90px;
      font-weight: 500;
      letter-spacing: 15px;
      animation: moveInLeft 3s;

      @keyframes moveInLeft {
        0% {
          opacity: 0;
          transform: translateX(-100px);
        }
        80% {
          transform: translateX(20px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      @include sm {
        font-size: 30px;
        letter-spacing: 5px;
        background-color: #fff;
      }
    }

    .cloud {
      display: block;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 5px;
      animation: moveInRight 3s;

      @keyframes moveInRight {
        0% {
          opacity: 0;
          transform: translateX(100px);
        }
        80% {
          transform: translateX(-20px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      @include sm {
        font-size: 10px;
        letter-spacing: 0;
        background-color: #fff;
      }
    }

    button {
      background-color: #fff;
      color: $darkGreen;
      padding: 15px 40px;
      letter-spacing: 0.3ch;
      cursor: pointer;
      border-radius: 60px;
      text-transform: uppercase;
      border: 0;
      outline: hidden;
      transition: all 0.2s;
      position: relative;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.212);

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          transition: all 0.4s;
          opacity: 0;
        }
      }

      &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.212);
      }

      &:link,
      &:visited {
        display: inline-block;
        background-color: #fff;
      }

      &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
  }
}
