@import 'utils/variables';

.bottom {
  width: 100%;
  @include flex-x-y-d(space-around, center, column);
  margin-top: 5rem;

  .favList {
    //@include flex-x-y-d(center, center, column);
    width: 45%;
    background-color: $middleGreen;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.616);
    padding: 2rem 1rem;
    max-height: 60vh;
    border-radius: 2rem;
    overflow-y: auto;

    @include sm {
      width: 90%;
    }

    @include xsm {
      width: 98%;
    }

    .header {
      width: 100%;
      @include flex-x-y-d(space-evenly, center, column);

      h1 {
        font-size: 2.8rem;
        color: white;
        text-decoration: underline;
        font-weight: bold;
      }

      .listWrapper {
        border: 1px solid white;
        border-radius: 2rem;
        width: 90%;
        @include flex-x-y-d(center, center, row);
        height: 14vh;
        font-size: 2rem;
        color: white;
        margin: 1rem;

        @include xsm {
          width: 98%;
          font-size: 1.5rem;
        }

        .left {
          //@include flex-x-y-d(center, center, column);
          width: 90%;
          height: 100%;

          p {
            margin: 0;
            padding: 0;
          }

          .top {
            border-bottom: 1px solid white;
            width: 100%;
            height: 50%;
            @include flex-x-y-d(space-evenly, center, row);
          }

          .bottom {
            @include flex-x-y-d(space-evenly, center, row);
            height: 50%;
            width: 100%;
            margin: 0;
          }
        }

        .right {
          @include flex-x-y-d(center, center, column);
          width: 10%;
          border-left: 1px solid white;
          height: 100%;

          .icon {
            width: 2rem;
            height: auto;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.contentWrapper {
  border-radius: 2rem;
  height: 100%;
  width: 85%;
  @include flex-x-y-d(center, center, column);
  padding: 2rem;
  background-color: $middleGreen;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.616);

  @include sm {
    width: 98%;
  }

  @include xsm {
    width: 90%;
  }

  h1 {
    font-size: 2.8rem;
    color: white;
    text-decoration: underline;
    font-weight: bold;
  }

  .inputsWrapper {
    @include flex-x-y-d(space-evenly, center, row);
    width: 100%;

    @include xsm {
      @include flex-x-y-d(space-evenly, center, column);
    }

    .formWrapper {
      width: 50%;
      @include flex-x-y-d(space-evenly, center, column);

      @include xsm {
        width: 90%;
      }

      .imgWrapper {
        z-index: 10;
        width: 26rem;
        height: 26rem;
        @include flex-x-y-d(center, center, column);
        overflow: hidden;
        margin: 1rem 0;

        .profileImg {
          width: 19rem;
          height: auto;
        }
      }

      .btnLeft {
        @include flex-x-y-d(space-around, center, row);
        width: 100%;
        margin: 3rem 0;

        @include sm {
          @include flex-x-y-d(space-around, center, column);
        }

        .spin {
          // @include flex-x-y-d(flex-start, center, row);
          margin-right: 9rem;
          margin-left: -9rem;
        }

        .textbox {
          margin-bottom: 1rem;
          position: relative;
          width: fit-content;
          place-self: center;

          label {
            text-transform: uppercase;
            text-decoration: none;
            padding: 1rem 4rem;
            display: inline-block;
            border-radius: 10rem;
            transition: all 0.2s;
            font-size: 2rem;
            cursor: pointer;
            font-weight: bold;
            border: 0;

            &:hover {
              transform: translateY(-0.3rem);
              box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            }

            &:active {
              transform: translateY(-0.1rem);
              box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            }

            &::after {
              content: '';
              display: inline-block;
              height: 100%;
              width: 100%;
              border-radius: 10rem;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -10;
              transition: all 0.4s;
            }

            &:hover::after {
              transform: scaleX(1.4) scaleY(1.6);
              opacity: 0;
            }
          }
        }

        .btnWhite {
          background-color: white;
          color: #777;

          input {
            display: none;
          }

          &::after {
            background-color: white;
          }
        }

        @keyframes moveInBottom {
          0% {
            opacity: 0;
            transform: translateY(3rem);
          }

          100% {
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }
    }

    .formBottom {
      @include flex-x-y-d(center, center, column);
      height: 97%;
      width: 50%;

      @include xsm {
        width: 80%;
      }

      .btn {
        @include flex-x-y-d(none, none, column);
        width: 50%;

        @include sm {
          width: 100%;
        }

        @include xsm {
          width: 100%;
        }

        .spin {
          //margin-left: 9rem;

          @include sm {
            margin-left: 9rem;
          }

          @include xsm {
            margin-left: 5rem;
          }
        }
      }

      .form {
        position: relative;
        width: 30rem;
        height: 8rem;
      }
    }
  }
}
