//Colors
$darkGreen: #1f343f;
$middleGreen: #697680;
$lightGreen: #529c95;
$bgColorLading: #f7f7f7;

//Mixin

@mixin hoverUnderline {
  display: block;
  position: relative;
  padding: 0.2em 0;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: scale(1);
  }
}

@mixin flex-x-y-d($vertical, $horizontal, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $vertical;
  align-items: $horizontal;
}

@mixin txtAlign {
  text-align: center;
}

@mixin h2Style {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  background-image: linear-gradient(to right, #142935de, #54c5bac2);
  display: inline-block;
  background-clip: text;
  color: transparent;
  margin-bottom: 5rem;
}

@mixin h3Style {
  font-size: 2rem;
  text-transform: uppercase;
}

// Breakpoints
$bp-xsm: 425px;
$bp-sm: 768px;
$bp-md: 1024px;
$bp-lg: 1280px;
$bp-xl: 1400px;

// Responsiveness
@mixin xsm {
  @media (max-width: #{$bp-xsm}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{bp-sm}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$bp-md}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$bp-lg}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$bp-xl}) {
    @content;
  }
}

// Layout
$h-fullscreen: calc(100vh - 8em);
