@import 'utils/variables';

.main {
  @include flex-x-y-d(center, center, column);

  .title {
    font-size: 2.5rem;
    margin: 6rem auto -0.1rem 4.5rem;
    width: fit-content;
    height: 5rem;
    background-color: $lightGreen;
    color: white;
    z-index: 1;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    letter-spacing: 0.3ch;

    @include sm {
      font-size: 2rem;
    }

    @include xsm {
      font-size: 1.7rem;
      letter-spacing: 0.2ch;
      margin: 6rem auto -0.1rem 3.7rem;
    }
  }

  .line {
    border-top: 1px solid black;
    width: 100%;
  }

  .img {
    width: auto;
    max-height: 20rem;
    transition: transform 0.5s;
    object-fit: scale-down;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  .categories {
    width: 90%;
    @include flex-x-y-d(space-around, center, row);
    flex-wrap: wrap;
    margin: 5rem 0;
    padding: 0 3rem;

    @include sm {
      width: 100%;
      padding: 0 2rem;
    }
  }
}
