@import 'utils/variables';

.registerWrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;

  .close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 4rem;
    height: auto;

    &:hover {
      transform: scale(1.1) rotate(-90deg);
    }
  }

  .contentWrapper {
    height: 100vh;
    width: 100vw;
    @include flex-x-y-d(center, center, column);
    z-index: 15;

    .form {
      position: relative;
      width: 30rem;
      height: 8rem;
    }
  }

  .btn {
    width: 10rem;
    height: 5rem;
    background-color: red;
  }
}

.openDrawer {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}
