@import 'utils/variables';

.footerWrapper {
  @include flex-x-y-d(space-around, center, row);
  width: 100%;
  font-size: 2rem;
  padding: 2.5rem;
  line-height: 1.2ch;
  background-color: $darkGreen;
  color: white;
  margin-top: 5rem;

  @include xsm {
    @include flex-x-y-d(space-around, center, column);
    font-size: 1.7rem;
  }

  .left {
    width: 23%;

    @include xsm {
      width: 100%;
      @include flex-x-y-d(space-around, center, row);
      flex-wrap: wrap;
      margin-bottom: 3rem;
    }

    p {
      cursor: pointer;
      width: fit-content;
      @include hoverUnderline;
      margin: 1rem;
      padding: 1rem 0;
    }
  }

  .middle {
    width: 18rem;
    height: 18rem;
    border-radius: 10rem;
    border: 1;
    background-color: white;
    position: relative;

    @include xsm {
      width: 13rem;
      height: 13rem;
    }

    .img {
      width: 11rem;
      height: 11rem;
      position: absolute;
      top: 3rem;
      right: 3rem;

      @include xsm {
        width: 8rem;
        height: 8rem;
        top: 2.5rem;
        right: 2.2rem;
      }
    }
  }

  .right {
    width: 23%;
    line-height: normal;
    margin-left: 5rem;

    @include xsm {
      width: 100%;
      margin-left: 0;
    }
  }
}
